/* Add some global styles here! */

:root {
  --red: rgb(208, 67, 12);
  --base-bg: #f1f3f5;
}

button.btn-small {
  font-size: 80%;
  background-color: #8F91A2;
}

button.button-error {
  color: white;
  background: var(--red);
}

button.pure-button {
  font-family: HeyComic
}

a.button {
  color: #212529;
  background-color: #8F91A2;
  border: 1px solid #dee2e6;
  border-radius: 0.25em;
  padding: 0.375em 0.75em;
  text-decoration: none;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

@font-face {
  font-family: HeyComic;
  src: url("./assets/font/heycomic.eot");
  src: url("./assets/font/heycomic.otf"),
  url("./assets/font/heycomic.ttf") format("truetype"),
  url("./assets/font/heycomic.woff") format("woff"),
  url("./assets/font/heycomic.woff2") format("woff2");

}

p {
  font-family: HeyComic;
}

li {
  font-family: HeyComic;
  color: #505A5B;
}

h1 {
  font-family: HeyComic
}

h2 {
  font-family: HeyComic
}

label {
  font-family: HeyComic
}
button {
  font-family: HeyComic
}

legend {
  font-family: HeyComic
}